*.iml
.gradle
.idea
.settings
*.jks
/effective.gradle
/gradle.properties
/local.properties
.DS_Store
/build
.idea
.vscode
node_modules/
/captures
.externalNativeBuild
.npm
vuenav/
vuerouter/
vue2.code-workspace
